<h1>Welcome to Bar Talk</h1><br>
<div class="container">
    <h3>This webapp is a forum for bartenders and cocktail enthusiasts to log their own cocktail recipes, as well as to see and try others' variations of those cocktails.</h3>
</div>
<br>
<h3><%= link_to "Signup", signup_path %> or <%= link_to "Login", login_path %> to get started.</h3>
<br>
<h2>Cheers!</h2>