<h1>Welcome to Bar Talk</h1>
<p>This is a bunch of info about the site, how it works, and how to get started</p>
<br>
<h4><%= link_to "Signup", signup_path %> or <%= link_to "Login", login_path %> to get started</h4>