<h1><i>All Cocktails</i></h1>
<br>


<ol id="list">
            <% @cocktails.each do |cocktail| %>
                <% if cocktail.recipes.any? %>
                    <h4><li><i><%= link_to cocktail.spirit.name + " Cocktails:", spirit_recipes_path(cocktail.spirit) %></i>
                    <br><br>
                    <ul>
                        <li><i><%= link_to cocktail.name, cocktail_path(cocktail) %></i></li><br>
                    </ul>
                    </li></h4>
                <% end %>
            <% end %>
</ol>