<h1><i>All Cocktails</i></h1>
<ol>

    <% @spirits.each do |spirit| %>
        <li><h4><i><%= spirit.name %> Cocktails</i></h4>
        <ul>
            <% spirit.cocktails.each do |c| %></li>
                <li><%= link_to c.name, cocktail_path(c) %></li><br>
            <% end %>
        </ul>
    <% end %>
   
</ol>