/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav{
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    background-color: #E0AFA0;
}
.nav li{
    display:inline;
}
.nav li a{
    display:inline-block;
    color: #615a56;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.nav li a:hover {
    background-color: #F4F3EE;
    color: #B9593C;
}

.form {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.label {
    float:left;
}

.field {
    float:right;
}

.submit {
    background-color: brown;
    color: whitesmoke;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    float: left;
}

.vote {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
    align-items: center;
}

.vote strong {
    display:inline-block;
    float: left;
}

.vote input {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: center;
    background-color: brown;
    color: whitesmoke;
}

#vote-up {
    /* margin-right:25px; */
    display:inline-block;
}

#vote-down {
    margin-left:100px;
    margin-bottom: 10px;
    display:inline-block;
}

#error_explanation {
    color: red;
    text-align: center;
    font-style: italic;
}

#error_explanation ul {
    color: red;
    text-align: center;
    font-style: italic;
    list-style: none;
}

body {
    background-color: #f4f3ee;
    color: #B9593C;
}

h1 {
    color: #B9593C;
    text-align: center;
    font-style: italic;
}

h2 {
    color: #B9593C;
    text-align: center;
    font-style: italic;
}

ol {
    text-align: center;
    list-style-position: inside;
    color: #B9593C;
}

li {
    color: #B9593C;
}

a {
    text-decoration: none;
}

a:link {
    color:olivedrab;
}

a:visited {
    color: #463F3A;
}

a:hover {
    color:green;
}